/* WEB222 assignment5 Hyunji Cho 128065182 */


body {
    margin: auto;
    background: rgb(255, 201, 209);
}

.box {
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;
    background: rgb(178, 224, 255);
    text-align: right;
    border-radius: 40px;
    font-family: 'Amaranth', sans-serif;
}

.box header {
    background: rgb(255, 255, 255);
    text-align: center;
    border-radius: 40px;
}

header img{
    margin-top: 20px;
}

.web-title{
    margin-top:0px;
    padding-bottom:20px;
    font-size : 70px;
    color: rgb(255, 223, 117);
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Fascinate', cursive;
}

.web-title:hover{
    animation: shake 1s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#academic-honesty {
    max-width: 990px;
    float: left;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 104, 104);
    text-align: left;
    border-radius: 20px;
}

#academic-honesty p {
    padding: 0px 85px 10px 80px;
}

#registration {
    width: 730px;
    float: left;
    padding-left: 50px;
    padding-bottom:30px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 104, 104);
    text-align: left;
    border-radius: 20px;

}

#academic-honesty h1, #registration h1 {
    text-align: center;
    text-shadow: 1px 1px #8d8d8d;
}

#registration h3 {
    text-align: left;
    margin-left: 40px;
}

#registration form label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-bottom:8px;
}

#registration input {
    color: rgb(255, 104, 104);
    margin-bottom:8px;
}

#registration input:focus{
    color: rgb(119, 144, 255);
}

#registration p {
    margin-top: 30px;
    text-align: center;
}

#registration p input{
    background-color: rgb(255, 219, 219);
    border-radius: 20px;
}

nav {
    width: 200px;
    float: left;
    min-height: 200px;
    padding-right: 10px;
    background-color: rgb(129, 190, 248);
    border-radius: 20px;
}

nav h2{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #000000;
    margin-right:10px;
    margin-bottom: 30px;
}

.box ul {
    list-style-type: none;
    text-align: right;
}

nav ul a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

nav ul li{
    margin-bottom:20px;
    margin-right:10px;
}

nav ul a:hover{
    color: rgb(255, 246, 116);
    font-size: 20px;
   
}

aside {
    width: 200px;
    float: left;
    padding-right: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(81, 151, 255);
    text-align: center;
    border-radius: 20px;
}

aside h2 {
    color: rgb(81, 151, 255);
    text-shadow: 1px 1px #8d8d8d;
}

aside div{
    margin: 5px 5px 5px 15px;

}

.box footer {
    padding-right: 5px;
    padding-top: 20px;
    clear: both;
    background-color: rgb(178, 224, 255);
    color: rgb(255, 255, 255);
    text-align: right;
}